<about>
    body {
	    background: url(http://static.tumblr.com/2a490f61086d686988103f8f5207d2cb/pe2tr1i/MQfn6czlc/tumblr_static_9rpv0lq9v400g0kc8008s4ko8.png);
		font-family:Bookman Old Style,Century,Dejavu Serif,serif;
		font-size:15px;
		overflow:auto;
	     } 
</about>